# Recommender

In [1]:
import pandas as pd
import numpy as np

In [3]:
path ='ml-latest-small/'

In [4]:
ratings = pd.read_csv(path+'ratings.csv')

In [7]:
movies = pd.read_csv(path+'movies.csv')

In [6]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [18]:
ratings.shape

(100004, 4)

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
movies.shape

(9125, 3)

In [11]:
g = ratings.groupby('userId')['rating'].count()
topUsers = g.sort_values(ascending=False)[:15]

In [12]:
topUsers

userId
547    2391
564    1868
624    1735
15     1700
73     1610
452    1340
468    1291
380    1063
311    1019
30     1011
294     947
509     923
580     922
213     910
212     876
Name: rating, dtype: int64

In [21]:
sum(topUsers)

19606

In [13]:
g = ratings.groupby('movieId')['rating'].count()
topMovies = g.sort_values(ascending=False)[:15]

In [14]:
topMovies

movieId
356     341
296     324
318     311
593     304
260     291
480     274
2571    259
1       247
527     244
589     237
1196    234
110     228
1270    226
608     224
1198    220
Name: rating, dtype: int64

In [23]:
sum(topMovies)

3964

In [16]:
top_r = ratings.join(topUsers, rsuffix='_r', how='inner', on='userId')

In [20]:
top_r.head()

     userId  movieId  rating   timestamp  rating_r
962      15        1     2.0   997938310      1700
963      15        2     2.0  1134521380      1700
964      15        5     4.5  1093070098      1700
965      15        6     4.0  1040205753      1700
966      15       10     3.0  1093028290      1700

In [22]:
top_r.shape

(19606, 5)

In [24]:
top_r = top_r.join(topMovies, rsuffix='_r', how='inner', on='movieId')

In [25]:
top_r.shape

(206, 6)

In [26]:
top_r

       userId  movieId  rating   timestamp  rating_r  rating_r
962        15        1     2.0   997938310      1700       247
5048       30        1     4.0   944943070      1011       247
10214      73        1     5.0  1303464840      1610       247
28390     212        1     3.0  1218405007       876       247
29266     213        1     3.0  1462637445       910       247
40153     294        1     4.0  1047071649       947       247
43329     311        1     3.0   898007830      1019       247
51144     380        1     4.0  1048092869      1063       247
61432     452        1     3.5  1133735252      1340       247
65657     468        1     4.0  1296195523      1291       247
72287     509        1     3.0   939329344       923       247
78433     547        1     3.5  1053173138      2391       247
82824     564        1     4.0   974712079      1868       247
86489     580        1     4.0  1155616380       922       247
93534     624        1     5.0  1019126661      1735       247
991        15      110     3.0  1040205792      1700       228
5070       30      110     5.0   945122218      1011       228
10241      73      110     4.0  1255508598      1610       228
28408     212      110     5.0  1218399244       876       228
29282     213      110     2.5  1462640515       910       228
40171     294      110     3.0  1054068398       947       228
43365     311      110     3.0   898008040      1019       228
51161     380      110     5.0   949368612      1063       228
61465     452      110     4.0   976425416      1340       228
65683     468      110     3.0  1296195515      1291       228
72318     509      110     5.0   939339943       923       228
82890     564      110     1.0   974711555      1868       228
86512     580      110     4.5  1155485834       922       228
1032       15      260     5.0   997938437      1700       291
5090       30      260     4.0   948167472      1011       291
...       ...      ...     ...         ...       ...       ...
1248       15     1270     5.0   997938451      1700       226
5292       30     1270     5.0   951010688      1011       226
10449      73     1270     5.0  1285479373      1610       226
28574     212     1270     3.0  1218403561       876       226
29399     213     1270     3.0  1462637492       910       226
40354     294     1270     4.0  1161746877       947       226
43700     311     1270     4.5  1062016011      1019       226
51263     380     1270     3.0   949367239      1063       226
61724     452     1270     4.0   989112202      1340       226
65922     468     1270     3.0  1296191518      1291       226
72571     509     1270     3.0  1093299730       923       226
78762     547     1270     3.5  1053172545      2391       226
83446     564     1270     3.0   974832715      1868       226
86716     580     1270     3.0  1155616690       922       226
93728     624     1270     5.0  1019127202      1735       226
1481       15     2571     5.0   997938438      1700       259
5551       30     2571     3.0   945117284      1011       259
10672      73     2571     4.5  1282543426      1610       259
28720     212     2571     5.0  1218399610       876       259
29526     213     2571     4.0  1462633918       910       259
40535     294     2571     4.5  1055278632       947       259
43917     311     2571     4.0   930667693      1019       259
51380     380     2571     5.0   949368060      1063       259
62009     452     2571     2.0   976423675      1340       259
66151     468     2571     3.0  1296195542      1291       259
72822     509     2571     4.5  1093279062       923       259
79045     547     2571     3.5  1053171807      2391       259
84114     564     2571     3.0   974712259      1868       259
86903     580     2571     4.5  1220561591       922       259
93939     624     2571     2.0  1162753923      1735       259

[206 rows x 6 columns]

In [29]:
top_r['userId'].unique().tolist()

[15, 30, 73, 212, 213, 294, 311, 380, 452, 468, 509, 547, 564, 580, 624]

In [30]:
top_r['movieId'].unique().tolist()

[1, 110, 260, 296, 318, 356, 480, 527, 589, 593, 608, 1196, 1198, 1270, 2571]

In [32]:
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

movieId,1,110,260,296,318,356,480,527,589,593,608,1196,1198,1270,2571
userId,,,,,,,,,,,,,,,
15,2.0,3.0,5.0,5.0,2.0,1.0,3.0,4.0,4.0,5.0,5.0,5.0,4.0,5.0,5.0
30,4.0,5.0,4.0,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,3.0
73,5.0,4.0,4.5,5.0,5.0,5.0,4.0,5.0,3.0,4.5,4.0,5.0,5.0,5.0,4.5
212,3.0,5.0,4.0,4.0,4.5,4.0,3.0,5.0,3.0,4.0,NaN,NaN,3.0,3.0,5.0
213,3.0,2.5,5.0,NaN,NaN,2.0,5.0,NaN,4.0,2.5,2.0,5.0,3.0,3.0,4.0
294,4.0,3.0,4.0,NaN,3.0,4.0,4.0,4.0,3.0,NaN,NaN,4.0,4.5,4.0,4.5
311,3.0,3.0,4.0,3.0,4.5,5.0,4.5,5.0,4.5,2.0,4.0,3.0,4.5,4.5,4.0
380,4.0,5.0,4.0,5.0,4.0,5.0,4.0,NaN,4.0,5.0,4.0,4.0,NaN,3.0,5.0
452,3.5,4.0,4.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,2.0
468,4.0,3.0,3.5,3.5,3.5,3.0,2.5,NaN,NaN,3.0,4.0,3.0,3.5,3.0,3.0
509,3.0,5.0,5.0,5.0,4.0,4.0,3.0,5.0,2.0,4.0,4.5,5.0,5.0,3.0,4.5
547,3.5,NaN,NaN,5.0,5.0,2.0,3.0,5.0,NaN,5.0,5.0,2.5,2.0,3.5,3.5
564,4.0,1.0,2.0,5.0,NaN,3.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,3.0,3.0
580,4.0,4.5,4.0,4.5,4.0,3.5,3.0,4.0,4.5,4.0,4.5,4.0,3.5,3.0,4.5
624,5.0,NaN,5.0,5.0,NaN,3.0,3.0,NaN,3.0,5.0,4.0,5.0,5.0,5.0,2.0

In [37]:
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.mean)

movieId,1,110,260,296,318,356,480,527,589,593,608,1196,1198,1270,2571
userId,,,,,,,,,,,,,,,
15,2.0,3.0,5.0,5.0,2.0,1.0,3.0,4.0,4.0,5.0,5.0,5.0,4.0,5.0,5.0
30,4.0,5.0,4.0,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,3.0
73,5.0,4.0,4.5,5.0,5.0,5.0,4.0,5.0,3.0,4.5,4.0,5.0,5.0,5.0,4.5
212,3.0,5.0,4.0,4.0,4.5,4.0,3.0,5.0,3.0,4.0,NaN,NaN,3.0,3.0,5.0
213,3.0,2.5,5.0,NaN,NaN,2.0,5.0,NaN,4.0,2.5,2.0,5.0,3.0,3.0,4.0
294,4.0,3.0,4.0,NaN,3.0,4.0,4.0,4.0,3.0,NaN,NaN,4.0,4.5,4.0,4.5
311,3.0,3.0,4.0,3.0,4.5,5.0,4.5,5.0,4.5,2.0,4.0,3.0,4.5,4.5,4.0
380,4.0,5.0,4.0,5.0,4.0,5.0,4.0,NaN,4.0,5.0,4.0,4.0,NaN,3.0,5.0
452,3.5,4.0,4.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,2.0
468,4.0,3.0,3.5,3.5,3.5,3.0,2.5,NaN,NaN,3.0,4.0,3.0,3.5,3.0,3.0
509,3.0,5.0,5.0,5.0,4.0,4.0,3.0,5.0,2.0,4.0,4.5,5.0,5.0,3.0,4.5
547,3.5,NaN,NaN,5.0,5.0,2.0,3.0,5.0,NaN,5.0,5.0,2.5,2.0,3.5,3.5
564,4.0,1.0,2.0,5.0,NaN,3.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,3.0,3.0
580,4.0,4.5,4.0,4.5,4.0,3.5,3.0,4.0,4.5,4.0,4.5,4.0,3.5,3.0,4.5
624,5.0,NaN,5.0,5.0,NaN,3.0,3.0,NaN,3.0,5.0,4.0,5.0,5.0,5.0,2.0

In [33]:
top_r[top_r['userId']==15]

      userId  movieId  rating   timestamp  rating_r  rating_r
962       15        1     2.0   997938310      1700       247
991       15      110     3.0  1040205792      1700       228
1032      15      260     5.0   997938437      1700       291
1037      15      296     5.0   997938771      1700       324
1044      15      318     2.0   997938727      1700       311
1054      15      356     1.0  1058250631      1700       341
1077      15      480     3.0   997939193      1700       274
1087      15      527     4.0   997937239      1700       244
1102      15      589     4.0   997938451      1700       237
1105      15      593     5.0   997938500      1700       304
1108      15      608     5.0   997938500      1700       224
1196      15     1196     5.0   997938438      1700       234
1198      15     1198     4.0   997939111      1700       220
1248      15     1270     5.0   997938451      1700       226
1481      15     2571     5.0   997938438      1700       259

In [38]:
u_uniq = ratings.userId.unique()

In [39]:
u_uniq

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671])

In [40]:
user2idx = {o:i for i,o in enumerate(u_uniq)}

In [41]:
user2idx

{1: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 9: 8,
 10: 9,
 11: 10,
 12: 11,
 13: 12,
 14: 13,
 15: 14,
 16: 15,
 17: 16,
 18: 17,
 19: 18,
 20: 19,
 21: 20,
 22: 21,
 23: 22,
 24: 23,
 25: 24,
 26: 25,
 27: 26,
 28: 27,
 29: 28,
 30: 29,
 31: 30,
 32: 31,
 33: 32,
 34: 33,
 35: 34,
 36: 35,
 37: 36,
 38: 37,
 39: 38,
 40: 39,
 41: 40,
 42: 41,
 43: 42,
 44: 43,
 45: 44,
 46: 45,
 47: 46,
 48: 47,
 49: 48,
 50: 49,
 51: 50,
 52: 51,
 53: 52,
 54: 53,
 55: 54,
 56: 55,
 57: 56,
 58: 57,
 59: 58,
 60: 59,
 61: 60,
 62: 61,
 63: 62,
 64: 63,
 65: 64,
 66: 65,
 67: 66,
 68: 67,
 69: 68,
 70: 69,
 71: 70,
 72: 71,
 73: 72,
 74: 73,
 75: 74,
 76: 75,
 77: 76,
 78: 77,
 79: 78,
 80: 79,
 81: 80,
 82: 81,
 83: 82,
 84: 83,
 85: 84,
 86: 85,
 87: 86,
 88: 87,
 89: 88,
 90: 89,
 91: 90,
 92: 91,
 93: 92,
 94: 93,
 95: 94,
 96: 95,
 97: 96,
 98: 97,
 99: 98,
 100: 99,
 101: 100,
 102: 101,
 103: 102,
 104: 103,
 105: 104,
 106: 105,
 107: 106,
 108: 107,
 109: 108,
 110: 109,
 111: 110,
 112: 111,
 113: 112,
 114: 113,
 115: 114,
 116: 115,
 117: 116,
 118: 117,
 119: 118,
 120: 119,
 121: 120,
 122: 121,
 123: 122,
 124: 123,
 125: 124,
 126: 125,
 127: 126,
 128: 127,
 129: 128,
 130: 129,
 131: 130,
 132: 131,
 133: 132,
 134: 133,
 135: 134,
 136: 135,
 137: 136,
 138: 137,
 139: 138,
 140: 139,
 141: 140,
 142: 141,
 143: 142,
 144: 143,
 145: 144,
 146: 145,
 147: 146,
 148: 147,
 149: 148,
 150: 149,
 151: 150,
 152: 151,
 153: 152,
 154: 153,
 155: 154,
 156: 155,
 157: 156,
 158: 157,
 159: 158,
 160: 159,
 161: 160,
 162: 161,
 163: 162,
 164: 163,
 165: 164,
 166: 165,
 167: 166,
 168: 167,
 169: 168,
 170: 169,
 171: 170,
 172: 171,
 173: 172,
 174: 173,
 175: 174,
 176: 175,
 177: 176,
 178: 177,
 179: 178,
 180: 179,
 181: 180,
 182: 181,
 183: 182,
 184: 183,
 185: 184,
 186: 185,
 187: 186,
 188: 187,
 189: 188,
 190: 189,
 191: 190,
 192: 191,
 193: 192,
 194: 193,
 195: 194,
 196: 195,
 197: 196,
 198: 197,
 199: 198,
 200: 199,
 201: 200,
 202: 201,
 203: 202,
 204: 203,
 205: 204,
 206: 205,
 207: 206,
 208: 207,
 209: 208,
 210: 209,
 211: 210,
 212: 211,
 213: 212,
 214: 213,
 215: 214,
 216: 215,
 217: 216,
 218: 217,
 219: 218,
 220: 219,
 221: 220,
 222: 221,
 223: 222,
 224: 223,
 225: 224,
 226: 225,
 227: 226,
 228: 227,
 229: 228,
 230: 229,
 231: 230,
 232: 231,
 233: 232,
 234: 233,
 235: 234,
 236: 235,
 237: 236,
 238: 237,
 239: 238,
 240: 239,
 241: 240,
 242: 241,
 243: 242,
 244: 243,
 245: 244,
 246: 245,
 247: 246,
 248: 247,
 249: 248,
 250: 249,
 251: 250,
 252: 251,
 253: 252,
 254: 253,
 255: 254,
 256: 255,
 257: 256,
 258: 257,
 259: 258,
 260: 259,
 261: 260,
 262: 261,
 263: 262,
 264: 263,
 265: 264,
 266: 265,
 267: 266,
 268: 267,
 269: 268,
 270: 269,
 271: 270,
 272: 271,
 273: 272,
 274: 273,
 275: 274,
 276: 275,
 277: 276,
 278: 277,
 279: 278,
 280: 279,
 281: 280,
 282: 281,
 283: 282,
 284: 283,
 285: 284,
 286: 285,
 287: 286,
 288: 287,
 289: 288,
 290: 289,
 291: 290,
 292: 291,
 293: 292,
 294: 293,
 295: 294,
 296: 295,
 297: 296,
 298: 297,
 299: 298,
 300: 299,
 301: 300,
 302: 301,
 303: 302,
 304: 303,
 305: 304,
 306: 305,
 307: 306,
 308: 307,
 309: 308,
 310: 309,
 311: 310,
 312: 311,
 313: 312,
 314: 313,
 315: 314,
 316: 315,
 317: 316,
 318: 317,
 319: 318,
 320: 319,
 321: 320,
 322: 321,
 323: 322,
 324: 323,
 325: 324,
 326: 325,
 327: 326,
 328: 327,
 329: 328,
 330: 329,
 331: 330,
 332: 331,
 333: 332,
 334: 333,
 335: 334,
 336: 335,
 337: 336,
 338: 337,
 339: 338,
 340: 339,
 341: 340,
 342: 341,
 343: 342,
 344: 343,
 345: 344,
 346: 345,
 347: 346,
 348: 347,
 349: 348,
 350: 349,
 351: 350,
 352: 351,
 353: 352,
 354: 353,
 355: 354,
 356: 355,
 357: 356,
 358: 357,
 359: 358,
 360: 359,
 361: 360,
 362: 361,
 363: 362,
 364: 363,
 365: 364,
 366: 365,
 367: 366,
 368: 367,
 369: 368,
 370: 369,
 371: 370,
 372: 371,
 373: 372,
 374: 373,
 375: 374,
 376: 375,
 377: 376,
 378: 377,
 379: 378,
 380: 379,
 381: 380,
 382: 381,
 383: 382,
 384: 383,
 385: 384,
 386: 385,
 387: 386,
 388: 387,
 389: 388,
 390: 389,
 391: 390,
 392: 391,
 393: 392,
 394: 393,
 395: 394,
 396: 395,
 397: 396,
 398: 397,
 399: 398,
 400: 399,
 401: 400,
 402: 401,
 403: 402,
 404: 403,
 405: 404,
 406: 405,
 407: 406,
 408: 407,
 409: 408,
 410: 409,
 411: 410,
 412: 411,
 413: 412,
 414: 413,
 415: 414,
 416: 415,
 417: 416,
 418: 417,
 419: 418,
 420: 419,
 421: 420,
 422: 421,
 423: 422,
 424: 423,
 425: 424,
 426: 425,
 427: 426,
 428: 427,
 429: 428,
 430: 429,
 431: 430,
 432: 431,
 433: 432,
 434: 433,
 435: 434,
 436: 435,
 437: 436,
 438: 437,
 439: 438,
 440: 439,
 441: 440,
 442: 441,
 443: 442,
 444: 443,
 445: 444,
 446: 445,
 447: 446,
 448: 447,
 449: 448,
 450: 449,
 451: 450,
 452: 451,
 453: 452,
 454: 453,
 455: 454,
 456: 455,
 457: 456,
 458: 457,
 459: 458,
 460: 459,
 461: 460,
 462: 461,
 463: 462,
 464: 463,
 465: 464,
 466: 465,
 467: 466,
 468: 467,
 469: 468,
 470: 469,
 471: 470,
 472: 471,
 473: 472,
 474: 473,
 475: 474,
 476: 475,
 477: 476,
 478: 477,
 479: 478,
 480: 479,
 481: 480,
 482: 481,
 483: 482,
 484: 483,
 485: 484,
 486: 485,
 487: 486,
 488: 487,
 489: 488,
 490: 489,
 491: 490,
 492: 491,
 493: 492,
 494: 493,
 495: 494,
 496: 495,
 497: 496,
 498: 497,
 499: 498,
 500: 499,
 501: 500,
 502: 501,
 503: 502,
 504: 503,
 505: 504,
 506: 505,
 507: 506,
 508: 507,
 509: 508,
 510: 509,
 511: 510,
 512: 511,
 513: 512,
 514: 513,
 515: 514,
 516: 515,
 517: 516,
 518: 517,
 519: 518,
 520: 519,
 521: 520,
 522: 521,
 523: 522,
 524: 523,
 525: 524,
 526: 525,
 527: 526,
 528: 527,
 529: 528,
 530: 529,
 531: 530,
 532: 531,
 533: 532,
 534: 533,
 535: 534,
 536: 535,
 537: 536,
 538: 537,
 539: 538,
 540: 539,
 541: 540,
 542: 541,
 543: 542,
 544: 543,
 545: 544,
 546: 545,
 547: 546,
 548: 547,
 549: 548,
 550: 549,
 551: 550,
 552: 551,
 553: 552,
 554: 553,
 555: 554,
 556: 555,
 557: 556,
 558: 557,
 559: 558,
 560: 559,
 561: 560,
 562: 561,
 563: 562,
 564: 563,
 565: 564,
 566: 565,
 567: 566,
 568: 567,
 569: 568,
 570: 569,
 571: 570,
 572: 571,
 573: 572,
 574: 573,
 575: 574,
 576: 575,
 577: 576,
 578: 577,
 579: 578,
 580: 579,
 581: 580,
 582: 581,
 583: 582,
 584: 583,
 585: 584,
 586: 585,
 587: 586,
 588: 587,
 589: 588,
 590: 589,
 591: 590,
 592: 591,
 593: 592,
 594: 593,
 595: 594,
 596: 595,
 597: 596,
 598: 597,
 599: 598,
 600: 599,
 601: 600,
 602: 601,
 603: 602,
 604: 603,
 605: 604,
 606: 605,
 607: 606,
 608: 607,
 609: 608,
 610: 609,
 611: 610,
 612: 611,
 613: 612,
 614: 613,
 615: 614,
 616: 615,
 617: 616,
 618: 617,
 619: 618,
 620: 619,
 621: 620,
 622: 621,
 623: 622,
 624: 623,
 625: 624,
 626: 625,
 627: 626,
 628: 627,
 629: 628,
 630: 629,
 631: 630,
 632: 631,
 633: 632,
 634: 633,
 635: 634,
 636: 635,
 637: 636,
 638: 637,
 639: 638,
 640: 639,
 641: 640,
 642: 641,
 643: 642,
 644: 643,
 645: 644,
 646: 645,
 647: 646,
 648: 647,
 649: 648,
 650: 649,
 651: 650,
 652: 651,
 653: 652,
 654: 653,
 655: 654,
 656: 655,
 657: 656,
 658: 657,
 659: 658,
 660: 659,
 661: 660,
 662: 661,
 663: 662,
 664: 663,
 665: 664,
 666: 665,
 667: 666,
 668: 667,
 669: 668,
 670: 669,
 671: 670}

In [44]:
ratings.userId = ratings.userId.apply(lambda x: user2idx[x])

In [46]:
ratings.head()

   userId  movieId  rating   timestamp
0       0       31     2.5  1260759144
1       0     1029     3.0  1260759179
2       0     1061     3.0  1260759182
3       0     1129     2.0  1260759185
4       0     1172     4.0  1260759205

In [47]:
a = [1,2,3]

In [48]:
a

[1, 2, 3]

In [49]:
a[-1]

3

In [50]:
a[-2]

2

In [51]:
a.pop(1)

2

In [52]:
a

[1, 3]

# TF

In [62]:
import numpy as np
x = np.random.normal(size=[10,10])
y = np.random.normal(size=[10,10])
z = np.dot(x, y)

print(z)

[[ 6.64359815  1.69365788  0.09204193 -0.42202512  0.68839715  5.66519164
   1.11691227 -1.93632161 -4.05372338 -3.07706123]
 [ 0.95344969  0.74736457 -1.99392163  0.72744006  4.38336895  2.21087244
   2.75403969  0.90075335 -0.86386124 -1.04235739]
 [ 3.1261328  -0.0240646  -3.17897324 -1.91879094 -1.21736063  1.46023434
   8.21596193 -3.00628668 -3.44972809 -0.34146595]
 [ 1.2456865   1.13123157  1.11634754  0.27836614 -1.76618233 -0.73013649
  -4.76428172 -0.70746217 -1.55002205 -0.0494546 ]
 [-1.47686116 -0.16493257  3.92659333  1.61819724  4.18427383  2.61035695
  -6.17865305 -0.80118106 -0.53983828 -2.77142254]
 [ 5.34897528  1.06479451 -3.99470416  0.98655042 -1.07495001  6.33376647
   3.82752785  0.67995748 -5.07439156 -1.98639859]
 [ 2.30467413  2.56270086  1.23435599 -0.09411545  1.21534019  3.34743665
  -2.72839582 -4.3850308  -4.15383511 -5.0324613 ]
 [ 2.52162794  0.63730339  1.0922909  -0.66725239 -1.5377388  -1.34887955
  -2.87116002  3.97445283 -0.92715689 -1.35383058]
 [-1.51445944  2.07011276  0.70035121 -1.57709675  0.46948781 -1.40113658
  -0.19441029 -4.30841336 -2.95392128 -3.90853117]
 [ 1.38279579  0.97540252 -1.14268081 -0.04098297  1.86604209  1.46033814
   0.66452896 -5.83500612  1.47719773  0.18015412]]

In [63]:
import tensorflow as tf

a = tf.random_normal([10,10])
b = tf.random_normal([10,10])
c = tf.matmul(a, b)

sess = tf.Session()
c_val = sess.run(c)

print(c_val)

[[-1.44917369  1.22476578 -0.52087235 -2.60819697 -2.37764001  0.61006629
  -0.48822951 -0.34826407  3.91029596 -3.9141748 ]
 [-1.12868392  6.48991346 -0.25704658 -1.79576993 -0.26969075  1.6242888
   2.06015706  2.38489652  1.7128104  -1.13450599]
 [-0.27555656 -2.79113317 -2.73970175 -1.59266829 -2.14254069 -0.2633504
  -3.37579679 -2.36939788  1.54999042 -0.74975234]
 [ 1.5896914   1.04084778 -4.21018362 -5.57848358 -4.46236706  1.50289297
  -4.64353704 -0.12051117  6.44030571 -5.79110241]
 [ 1.03328204  4.09017086  3.46784282 -0.11906727 -3.99598742  3.1173358
  -3.48053646 -3.12548566  5.71874666  0.70406497]
 [ 1.49713349 -4.09313297 -2.06490064 -1.09897649 -2.52290893 -1.41954541
  -1.49902153  0.34142503  2.34411573 -2.12207937]
 [-0.89699858  0.02700376  5.25137663  3.15019798  3.42636085  2.91141677
   3.49727941  4.12869692 -1.96438074  0.63305628]
 [ 1.91613913 -2.61980367  3.9769187   2.38840032  2.93676543  1.24258637
   0.13393238 -0.19184405 -1.19221628  1.1252929 ]
 [ 3.77564645  0.57971829  2.95296001 -1.38273275 -1.08189237  2.19685507
  -1.14910662 -1.91113687  8.22087383 -1.59589529]
 [-1.51965356  5.7776289   1.71671045 -2.67286062 -2.08638453  0.9537338
   0.57254767 -1.35206938  4.96194458 -4.00465727]]

In [67]:
import numpy as np
import tensorflow as tf

x = tf.placeholder(tf.float32)
y = tf.placeholder(tf.float32)

w = tf.get_variable("w", shape=[3,1])

f = tf.stack([tf.square(x), x, tf.ones_like(x)], 1)
yhat = tf.squeeze(tf.matmul(f,w),1)

loss = tf.nn.l2_loss(yhat - y) + 0.1*tf.nn.l2_loss(w)

train_op = tf.train.AdamOptimizer(0.1).minimize(loss)

def generate_data():
    x_val = np.random.uniform(-10.0, 10.0, size=100)
    y_val = 5*np.square(x_val) + 3
    return x_val, y_val

sess = tf.Session()

sess.run(tf.global_variables_initializer())

for _ in range(1000):
    x_val, y_val = generate_data()
    _, loss_val = sess.run([train_op, loss], {x: x_val, y: y_val})
    print(loss_val)
print(sess.run([w]))

ValueError: Variable w already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope? Originally defined at:

  File "<ipython-input-65-59328d8a5a0f>", line 7, in <module>
    w = tf.get_variable('w', shape=[3,1])
  File "/Users/allen/python3-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/Users/allen/python3-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2850, in run_ast_nodes
    if self.run_code(code, result):

In [76]:
a = tf.constant([[1.], [2.]])
b = tf.constant([1.,2.])
c = tf.reduce_sum(a + b)

sess = tf.Session()
d = sess.run(c)
print(d)

12.0

In [74]:
print(a.shape)

(2, 1)

In [77]:
print(b.shape)

(2,)

# AUC

In [100]:
actual = np.array([0, 0, 1, 1])
pred = np.array([0.1, 0.4, 0.35, 0.8])

In [102]:
from sklearn.metrics import roc_auc_score
roc_auc_score(actual, pred)

0.75

In [132]:
def auc_cal(true_label, pred_score):
    counter = 0
    total = np.concatenate((true_label.reshape(-1,1), pred_score.reshape(-1,1)), axis=1)
    
    for i in total[total[:,0]==1]:
        for j in total[total[:,0]!=1]:
            if i[1]>j[1]:
                counter +=1
    
    return counter/(total[total[:,0]==1].shape[0]*total[total[:,0]!=1].shape[0])

In [133]:
auc_cal(actual, pred)

0.75

# String

In [3]:
s1 = set([3,4,5,6])
s2 = set([5,6,7,8,9])

In [4]:
s1&s2

{5, 6}

In [6]:
s1-s2

{3, 4}

In [10]:
fib = lambda n, x=0, y=1: x if not n else fib(n-1, y, x+y)
print(fib(3))

2

In [11]:
import numpy as np

a = np.arange(5)
a.dtype

dtype('int64')

In [14]:
from datetime import datetime, timedelta

def ds_add(ds, days):

    ds = datetime.strptime(ds, '%Y-%m-%d')
    if days:
        ds = ds + timedelta(days)
    return ds.isoformat()[:10]

In [19]:
ds_add('2018-01-01', 1)

'2018-01-02'

# String2

In [99]:
import collections

class solution:
    
    def str_compare(self, source, target):
        if source is None or target is None:
            return -1
        
        for i in range(len(source) - len(target) + 1):
            for j in range(len(target)):
                if source[i+j] != target[j]:
                    break
                else:
                    return i
        return -1
    
    def anagram(self, s, t):
        return collections.Counter(s) == collections.Counter(t)
    
    def isAnagrams(self, s, t):
        return sorted(s) == sorted(t)
    
    def compare_string(self, A, B):
        
        letters = collections.defaultdict(int)
        
        for a in A:
            letters[a] += 1
        
        for b in B:
            if b not in letters:
                return False
            elif letters[b] <= 0:
                return False
            else:
                letters[b] -=1
                
        print(letters)        
                
        return True
    
    def anagrams(self, strs):
        if len(strs) < 2:
            return strs
        
        result = []
        visited = [False]*len(strs)
        
        for index1, s1 in enumerate(strs):
            hasAnagrams = False
            for index2, s2 in enumerate(strs):
                if index2 > index1 and not visited[index2] and self.isAnagrams(s1, s2):
                    result.append(s2)
                    visited[index2] = True
                    hasAnagrams = True
                if not visited[index1] and hasAnagrams:
                    result.append(s1)
                    
            return list(set(result))
        
    def anagrams_v2(self, strs):
        strDict = {}
        result = []
        
        for string in strs:
            if "".join(sorted(string)) not in strDict.keys():
                strDict["".join(sorted(string))] = 1
            else:
                strDict["".join(sorted(string))] += 1
            
        for string in strs:
            if strDict["".join(sorted(string))] > 1:
                result.append(string)
        
        return result
    
    def rotateString(self, A, offset):
        if A is None or len(A) == 0:
            return A
        
        offset %= len(A)
        before = A[:len(A) - offset]
        after = A[len(A) - offset:]
        
        A = after + before
#         A = before[::-1] + after[::-1]
#         A = A[::-1]
        
        return A

In [100]:
a = solution()

In [37]:
a.str_compare('abcde', 'ab')

0

In [53]:
a.anagram('ab','aba')

False

In [52]:
a.anagram_v2('ab','aba')

False

In [65]:
a.compare_string('ABCD', 'ABC')

defaultdict(<class 'int'>, {'A': 0, 'B': 0, 'C': 0, 'D': 1})

True

In [76]:
a.anagrams(['lint', 'intl', 'inlt', 'code'])

['lint', 'inlt', 'intl']

In [82]:
a.anagrams_v2(['lint', 'intl', 'inlt', 'code'])

['lint', 'intl', 'inlt']

In [108]:
a.rotateString('abcdefg',0)

'abcdefg'

# Practice

In [118]:
class Codec:
    
    def __init__(self):
        self.urls = []
    
    def encode(self, longUrl):
        self.urls.append(longUrl)
        return 'http://tinyurl.com/' + str(len(self.urls) - 1)
    
    def decode(self, shortUrl):
        return self.urls[int(shortUrl.split('/')[-1])]

In [142]:
class Codec:
    import string
    from random import choice
    
    alphabet = string.ascii_letters + '0123456789'
    
    def __init__(self):
        self.url2code = {}
        self.code2url = {}
        
    def encode(self, longUrl):
        while longUrl not in self.url2code:
            code = ''.join(random.choice(Codec.alphabet) for _ in range(6))
            if code not in self.code2url:
                self.code2url[code] = longUrl
                self.url2code[longUrl] = code
        return 'http://tinyurl.com/' + self.url2code[longUrl]
    
    def decode(self, shortUrl):
        return self.code2url[shortUrl[-6:]]

In [143]:
url = 'http://tinyurl.com/design'

In [144]:
a = Codec()

In [145]:
a.encode(url)

'http://tinyurl.com/IWhBH8'

In [146]:
a.decode(a.encode(url))

'http://tinyurl.com/design'

In [127]:
import string
a = string.ascii_letters

In [128]:
a

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'